@font-face {
    font-family: thaisan;
    src: url(ThaiSansNeue-Regular.ttf);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

img {
    object-fit: cover;
}

p, h4, h3 {
    color: #494949;
}

p, input, label {
    font-size: 18px;
}

input[type=radio] {
    width: 16px;
    height: 16px;
}

body {
    background: transparent;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: url(../images/bg.jpg) no-repeat;  */
    background-color: #d6ecfa;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

#register {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: url(../images/bg.jpg) no-repeat; */
    background-color: #d6ecfa;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}



#register img, #profile img, .setting-body img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

#mainheader img {
    width: 30%;
    max-width: 113px;
    margin-top: 20%;
}

#register h3, #mainheader h3 {
    margin-top: 0px;
}

#login, #forgetpass, #beforeregister {
    position: relative;
    width: 100%;
    top: 37%;
    color:  rgb(100, 100, 100);
}

#login a {
    color: rgb(100, 100, 100);
    text-decoration: underline;
}

.user {
    height: 40px;
    width: 42px;
}

.password {
    width: 42px;
    height: 40px;
}

.inline {
    display: inline-block;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
    font-family: Helvetica, sans-serif;
}

a:focus, button:focus, input:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.logininput {
    width: 60%;
    max-width: 207px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(100, 100, 100);
    margin-bottom: 35px;
}

.bigbutton {
    font-size: 25px;
    border: none;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    max-width: 276px;
    height: 65px;
    color: #272625;
    background-color: #F8F8FF;
    border-radius: 4px;
}


.center * {
	margin: auto;
	display: block;
}

#profilebtn {
    background: url(../images/profile.png) no-repeat;
    background-size: 26px;
    background-position: center;
    opacity: 0.5;
}

.registerinput {
    border: none;
    border-bottom: 2px solid rgb(100, 100, 100);
    width: 100%;
    margin-bottom: 10px;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.cselect {
    border: 2px solid rgb(100, 100, 100);
    text-align: center;
    border-radius: 0px;
    padding: 1px 1px 5px 1px;
    margin-bottom: 10px;
    margin-right: 5px;
    background: transparent;

}

.cselect:focus {
    outline: none;
}

.checkbox label {
    display: block;
}

#test2q .back {
    position: relative;
    bottom: 10px;
    width: 90%;
}

button {
    transition: all 10ms ease-in;
    transform: scale(1);
}

.tab {
    z-index: 10000;
    transition: all 10ms ease-in;
    transform: scale(1.5);
}

.footer-menu {
    position: fixed;
    height: 55px;
    background: #ffffff;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border: none;
}

.footer-menu button {
    height: 100%;
    font-size: 40px;
    border: none;
}

.active {
    opacity: 1 !important;
    border-radius: 0px;
    background-size: 35px !important;
}

.main {
    position: fixed;
    top: 50px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 55px;
    overflow: auto;
    /*background: url(../images/bg2.jpg) no-repeat;  */
    background-color: #d6ecfa;
    background-size: cover;
    background-attachment: fixed;
}

.header-tab {
    position: fixed;
    height: 50px;
    top: 0px;
    background: #000080;
    right: 0px;
    left: 0px;
    color : #F8F8FF;
    /* box-shadow: 0px -1px 8px black; */
}

.header-tab p {
    font-size: 22px;
    line-height: 50px;
    margin-left: 13px;
    margin-right: 13px;
    display: inline-block;
    color : #F8F8FF;
}

.header-tab p.k {
    font-size: 22px;
    line-height: 50px;
    margin-left: 13px;
    margin-right: 13px;
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-tab i {
    font-size: 35px;
    line-height: 50px;
    margin-left: 13px;
    margin-right: 13px;
    display: inline-block;
}

#alarmbtn {
    background: url(../images/alarm.png) no-repeat;
    background-size: 30px;
    background-position: center;
    opacity: 0.5;
}


.alarmlist {
    border-bottom: 1px solid #5f5f5f;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.alarmlist h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    white-space: nowrap;
}

.alarmlist .info {
    width: 80%;
}

.alarmlist div {
    display: inline-block;
}

.alarmlist p, .alarmlist h3 {
    margin: 0 0 0 0;
}

.checkalarm {
    position: absolute;
    right: 10px;
    margin-top: 25px;
}

.alarm-body {
    position: fixed;
    overflow: auto;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #d6ecfa;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.timepicker {
    border: none;
    font-size: 50px;
    width: 150px;
    text-align: center;
}

.header-button {
    margin-top: 9px;
    margin-right: 9px;
    font-size: 20px;
    border: none;
    color: #272625;
    background-color: #F8F8FF;
    border-radius: 4px;
}

.confirmbutton {
    width: 40%;
    font-size: 25px;
    border: none;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    height: 65px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

.setting-body {
    position: fixed;
    overflow: auto;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

div.k {
    padding: 10px 10px 10px 10px;
}

div.k p {
    text-indent: 30px;
    font-size: 14px;
}

.modal-delete-body {
    position: relative;
    height: 220px;
    width: 80%;
    background: white;
    margin-top: 50%;
}

.modal-delete-body p {
    position: absolute;
    margin-top: 44px;
    width: 100%;
}

.modal-delete-body div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 44px;

}



/*////////////////////////////////////////////////////*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.bg-red {
    background-color: rgb(233, 111, 111);
}

.bg-green {
    background-color: rgb(111, 233, 121);
}

.bg-blue {
    background-color: #000080;
}
